@media only screen and (max-width: 768px) {
  h1 {
    margin: 10px 0;
    font-size: 25px;
    line-height: 30px; }
  h2 {
    font-size: 22px;
    margin-top: 51px; }
  h3 {
    font-size: 20px; }
  .container {
    width: 80%; }
  .wrapper .container header .menu ul .icon_menu {
    display: block; }
    .wrapper .container header .menu ul .icon_menu a {
      margin-right: 0; }
  .wrapper .container header .menu .sub-menu {
    width: 50%;
    height: 100vh;
    background: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: -100%; }
    .wrapper .container header .menu .sub-menu li a {
      margin: 0;
      padding: 10px 45px; }
  .wrapper .container header .menu .main-menu {
    display: flex;
    justify-content: flex-end; }
    .wrapper .container header .menu .main-menu .icon_menu {
      display: block; }
  .wrapper .container header .menu .open {
    width: 50%;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    transition: .4s ease;
    flex-direction: column; }
    .wrapper .container header .menu .open li a {
      margin: 0;
      padding: 10px 45px;
      color: #000000; }
  .wrapper .owl-carousel .owl-dots {
    bottom: 5px; }
  .wrapper .owl-carousel .item .wrapper_information {
    width: 96%; }
    .wrapper .owl-carousel .item .wrapper_information p {
      display: none; }
    .wrapper .owl-carousel .item .wrapper_information .spacing {
      display: block;
      font-size: 12px; }
    .wrapper .owl-carousel .item .wrapper_information .wrapper_button {
      margin-top: 30px;
      width: 100px;
      height: 30px; }
      .wrapper .owl-carousel .item .wrapper_information .wrapper_button a {
        font-size: 13px;
        width: 100px;
        height: 30px; }
  .products .container .product_blocks .product_block a .block_border {
    border: 1.3px solid #fff; }
    .products .container .product_blocks .product_block a .block_border p {
      font-size: 20px; }
  .products .container .product_blocks .wrap .product_block .block_border p {
    font-size: 12px;
    line-height: 25px; }
    .products .container .product_blocks .wrap .product_block .block_border p:before, .products .container .product_blocks .wrap .product_block .block_border p:after {
      width: 70px; }
    .products .container .product_blocks .wrap .product_block .block_border p:before {
      top: -10px; }
    .products .container .product_blocks .wrap .product_block .block_border p:after {
      bottom: -10px; }
  .trending .container .owl-carousel .item {
    text-align: center;
    display: block; }
    .trending .container .owl-carousel .item .trending_photo {
      width: 50%;
      height: 300px;
      margin: 0 auto; }
    .trending .container .owl-carousel .item .trending_information {
      width: 100%;
      margin: 0 auto;
      margin-top: 15px; }
      .trending .container .owl-carousel .item .trending_information .line {
        margin: 0 auto;
        margin-top: 29px; }
      .trending .container .owl-carousel .item .trending_information .lato {
        text-align: left; }
      .trending .container .owl-carousel .item .trending_information .buttons_other,
      .trending .container .owl-carousel .item .trending_information .buttons_size {
        justify-content: center; }
  .blog .container .owl-carousel .owl-nav .owl-prev {
    left: -45px; }
    .blog .container .owl-carousel .owl-nav .owl-prev img {
      height: 40px;
      width: 25px; }
  .blog .container .owl-carousel .owl-nav .owl-next {
    right: -45px; }
    .blog .container .owl-carousel .owl-nav .owl-next img {
      height: 40px;
      width: 25px; }
  .blog .container .owl-carousel .item .blog_information h3 {
    font-size: 16px; }
  footer {
    height: 200px; }
    footer .container .footer_form .footer_button a {
      width: 120px;
      font-size: 15px; } }
