* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.main-overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	z-index: -1;
	opacity: 0;
}

li {
	list-style: none;
}

a {
	display: block;
	text-decoration: none;
	color: #fff;
}

h1 {
	margin: 30px 0;
	font-family: "Lato", sans-serif;
	color: #ffffff;
	font-size: 40px;
	line-height: 50px;
	font-weight: 900;
	text-transform: uppercase;
}

h2 {
	color: #333333;
	font-size: 40px;
	font-weight: 300;
	font-style: italic;
	line-height: 19px;
	text-align: center;
	margin-top: 91px;
	position: relative;

	&:before,
	&:after {
		content: '';
		background-color: #dc0000;
		position: absolute;
		display: inline-block;
		margin: 0 auto;
		right: 50px;
		left: 50px;
		height: 3px;
		width: 120px;
	}

	&:before {
		top: -25px;
	}

	&:after {
		bottom: -25px;
	}
}

h3 {
	color: #dc0000;
	font-family: "Lato", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

h4 {
	opacity: 0.8;
	color: #333333;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	line-height: 30px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.overlay {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(34, 37, 51, 0.4);
}

.buttons_other {
	margin-top: 30px;
	display: flex;

	a {
		margin-left: 30px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 172px;
		height: 51px;
		color: #333333;
		border: 1px solid #333333;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			background-color: #333333;
			color: #ffffff;
		}
	}
}

.wrapper {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;

	.container {
		position: relative;

		header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			top: 28px;
			z-index: 2;

			.logo {

				a {
					color: #dc0000;
					font-size: 36px;
					font-weight: 300;
					text-transform: uppercase;

					span {
						opacity: 0.8;
						font-size: 48px;
						font-weight: 400;
						line-height: 19px;
					}
				}
			}

			.menu {

				ul {
					display: flex;

					li {

						a {
							margin: 0 25px;
							color: #ffffff;
							line-height: 19px;
							transition: .3s ease;
							-webkit-transition: .3s ease;
							-moz-transition: .3s ease;
							-ms-transition: .3s ease;
							-o-transition: .3s ease;

							&:hover {
								color: rgb(207, 205, 205);
							}
						}

						&:last-child {

							a {
								margin-right: 0;
							}
						}
					}

					.icon,
					.icon_menu {
						display: none;
					}
				}

				.sub-menu {
					z-index: 600;
					position: absolute;
					top: 3px;
					right: 0;
					opacity: 1;
					margin-right: 10px;
					transition: .4s ease;
				}

				.open {
					top: 0;
					opacity: 1;
					transition: .4s ease;

					li {
						display: flex;
					}
				}
			}
		}
	}

	.owl-carousel {
		width: 100%;
		height: 100vh;
		display: block;
		position: relative;

		.owl-item {
			width: 100%;
			height: 100vh;
		}

		.owl-dots {
			display: flex;
			align-items: center;
			position: absolute;
			z-index: 100;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);

			.owl-dot {
				outline: none;
				border: none;

				span {
					background-color: #fff;
					margin: 5px;
				}

				&:active,
				&:hover {

					span {
						background-color: rgba(34, 37, 51, 0.4);
					}
				}
			}

			.active {

				span {
					background-color: rgba(34, 37, 51, 0.4);
					border: 2px solid #fff;
				}
			}
		}

		.item {
			width: 100%;
			height: 100vh;
			position: relative;
			display: flex;
			justify-content: center;

			img {
				width: 100%;
				height: 100%;
			}

			.wrapper_information {
				width: 80%;
				margin: 0 auto;
				position: absolute;
				z-index: 2;
				top: 50%;
				transform: translateY(-50%);
				text-align: center;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);

				p {
					color: #ffffff;
					font-size: 30px;
					font-weight: 300;
					line-height: 32px;
					text-transform: uppercase;
				}

				.spacing {
					letter-spacing: 9px;
				}

				.wrapper_button {
					width: 200px;
					height: 60px;
					margin: 0 auto;
					margin-top: 50px;

					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 200px;
						height: 60px;
						background: transparent;
						border: 2px solid #ffffff;
						font-family: "Lato", sans-serif;
						line-height: 19px;
						text-transform: uppercase;
						color: #ffff;
						outline: none;
					}
				}
			}
		}
	}
}

.products {
	border-top: 0.1px solid transparent;
	height: auto;
	width: 100%;
	padding-bottom: 25px;

	.container {

		.product_blocks {
			margin-top: 60px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.product_block {
				margin: 1%;
				width: 31%;
				position: relative;

				a {
					height: 100%;
					width: 100%;

					.block_border {
						width: 85%;
						height: 85%;
						display: flex;
						align-items: center;
						justify-content: center;
						border: 3px solid #fff;
						position: absolute;
						z-index: 2;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
						-webkit-transform: translateY(-50%) translateX(-50%);
						-moz-transform: translateY(-50%) translateX(-50%);
						-ms-transform: translateY(-50%) translateX(-50%);
						-o-transform: translateY(-50%) translateX(-50%);

						p {
							font-size: 40px;
							font-weight: 300;
							font-style: italic;
							line-height: 45px;
							text-align: center;
							padding: 0 10px;
						}
					}

					.overlay {
						opacity: .4;
						height: 100%;
						background-color: #222533;
					}
				}
			}

			.wrap {
				width: 100%;
				display: flex;
				justify-content: center;

				.product_block {
					width: 47.5%;

					.block_border {
						border: none;

						p {
							font-size: 35px;
							font-family: "Lato", sans-serif;
							position: relative;

							&:before,
							&:after {
								content: '';
								background-color: #fff;
								position: absolute;
								display: inline-block;
								margin: 0 auto;
								right: 10px;
								left: 10px;
								height: 1px;
								width: 192px;
							}

							&:before {
								top: -20px;
							}

							&:after {
								bottom: -20px;
							}
						}

						.upper {
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}

.trending {
	border-top: 0.1px solid transparent;
	height: auto;
	width: 100%;
	background-image: url("../images/145.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-bottom: 30px;

	.container {

		.owl-carousel {
			margin-top: 80px;

			.owl-dots {
				margin-top: 40px;
				display: flex;
				align-items: center;
				justify-content: center;

				.owl-dot {
					outline: none;
					border: none;

					span {
						margin: 5px;
					}

					&:active,
					&:hover {

						span {
							background-color: rgba(34, 37, 51, 0.4);
						}
					}
				}

				.active {

					span {
						background-color: #fff;
						border: 2px solid #dc0000;
					}
				}
			}

			.item {
				height: auto;
				width: 100%;
				display: flex;
				align-items: center;

				.trending_photo {
					width: 40%;
					height: 500px;
				}

				.trending_information {
					margin-left: 30px;
					width: 60%;

					p {
						color: #777777;
						margin-top: 29px;
					}

					.line {
						width: 30px;
						height: 1px;
						background-color: #000000;
						margin-top: 29px;
					}

					.lato {
						color: #777777;
						font-family: "Lato", sans-serif;
						font-size: 18px;
						font-weight: 400;
						letter-spacing: 1.8px;
					}

					.buttons_size {
						margin-top: 50px;
						display: flex;

						a {
							margin-left: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							width: 70px;
							height: 51px;
							color: #333333;
							font-size: 16px;
							font-weight: 700;
							border: 1px solid #333333;

							&:first-child {
								margin-left: 0;
							}

							&:hover {
								background-color: #333333;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}

.blog {
	border-top: 0.1px solid transparent;
	width: 100%;
	height: auto;
	padding-bottom: 30px;

	.container {

		.owl-carousel {
			margin-top: 80px;
	
			.owl-nav {

				button {
					outline: none;
					position: absolute;

					&:hover {
						background-color: transparent;
					}
				}

				.owl-prev {
					left: -3%;
					top: 30%;
				}

				.owl-next {
					right: -3%;
					top: 30%;
				}
			}

			.item {
				height: auto;
				width: 100%;

				.blog_photo {
					width: 100%;
					height: 300px;
				}

				.blog_information {
					text-overflow: ellipsis;
					margin-top: 29px;

					h4 {
						margin: 29px 0;
					}

					.text {
						position: relative;
						overflow: hidden;
						height: 97px;
						width: 100%;
						text-overflow: ellipsis;
						margin: 29px 0;
						text-align: justify;

						p {
							color: #333333;
							opacity: 0.6;
							line-height: 24px;
						}

						.wrap {
							position: absolute;
							background: #fff;
							text-align: center;
							top: 72px;
							right: 0;
						}
					}

					.text:before {
						content: "";
						float: left;
						width: 5px;
						height: 97px;
					}
				}
			}
		}
	}
}

footer {
	background-image: url("../images/footer.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;


	.container {
		position: relative;
		z-index: 1;

		p {
			text-transform: uppercase;
			font-weight: 300;
		}

		.footer_form {
			display: flex;
			justify-content: space-between;
			margin-top: 31px;

			.footer_email {
				width: calc(49% + 172px + 25px);
				height: 51px;

				input {
					width: calc(100% - 82px);
					height: 100%;
					background-color: transparent;
					border: 1px solid #fff;
					outline: none;
					color: #fff;
					padding-left: 82px;
				}

				::-webkit-input-placeholder {
					color: #fff;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 300;
				}

				::-moz-placeholder {
					color: #fff;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 300;
				}

				/* Firefox 19+ */
				:-moz-placeholder {
					color: #fff;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 300;
				}

				/* Firefox 18- */
				:-ms-input-placeholder {
					color: #fff;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 300;
				}

				#before[required]+label {
					position: relative;
					display: inline-block;
					vertical-align: middle;
				}

				#before[required]+label:before {
					content: url("../images/email.png");
					position: absolute;
					top: -42px;
					left: 28px;
					color: rgb(238, 238, 238);
				}

				#before[required]:hover+label:before,
				#before[required]:focus+label:before {
					color: rgb(220, 200, 200);
				}

				#before[required]:not(:focus):not(:hover):valid {
					opacity: .4;
				}

				#before[required]:not(:focus):valid+label:before {
					content: "\2714";
					color: green;
				}
			}

			.footer_button {

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					color: #000000;
					font-size: 18px;
					width: 270px;
					height: 53px;
					font-weight: 700;
					text-transform: uppercase;
					background-color: #ffffff;
				}
			}
		}
	}

	.overlay {
		height: 100%;
	}
}